# Database
psycopg2-binary
django-dbpool


# Django
django
djangorestframework
django-prettyjson
django-filter
djangorestframework-simplejwt
django-cors-headers
django-background-tasks

# Utils
python-dateutil
python-dotenv

# Formatting
markdown
regex

# Logical
json-logic-qubit

# Testing
mock
pytest
pyyaml
