# Database
psycopg2-binary

# Django
django
djangorestframework
django-prettyjson
django-filter
djangorestframework-simplejwt
django-cors-headers

# Utils
python-dateutil

# Formatting
markdown
regex

# Logical
json-logic-qubit

# Testing
mock
pytest
pyyaml
